name: Docker Image CI

on:
  push:
    branches: [ '**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install openfaas cli
      run: curl -sSL https://cli.openfaas.com | sudo -E sh
    - name: openfaas cli build container
      run: faas-cli build -f hello-python.yml
    - name: Login to docker hub
      run: docker login --username=chrisjohnson00 --password=${{ secrets.DOCKER_HUB_PASSWORD }}
    - name: retag the image
      run: docker tag hello-python chrisjohnson00/hello-python:${GITHUB_REF##*/}
    - name: Push the Docker image
      run: docker push chrisjohnson00/hello-python:${GITHUB_REF##*/}
